@font-face {
    font-family: sahel;
    src: url("assets/font/Sahel-Black.eot");
    src: url("assets/font/Sahel-Black?#iefix") format("embedded-opentype"),
        url("assets/font/Sahel-Black.woff") format("woff"),
        url("assets/font/Sahel-Black.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: estedad;
    src: url("assets/font/Estedad-Thin.woff2") format("woff2"),
        url("fassets/font/Estedad-Thin.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: estedad;
    src: url("assets/font/Estedad-Bold.woff2") format("woff2"),
        url("assets/font/Estedad-Bold.ttf") format("truetype");
    font-weight: bold;
}

body {
    font-family: 'estedad', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
}

button {
    font-family: 'estedad', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sahel;
    font-weight: bold;
}

.rtl {
    direction: rtl;
}

.nav-toggle .bars {
    left: 0;
    right: inherit;
}

.post-meta .meta-icon {
    margin-left: .7rem;
    margin-right: inherit;
}

blockquote {
    border-color: #DCDFE2;
    border-style: solid;
    border-width: 0 .5rem 0 0;
    padding: .25em 1em;
    color: #000;
}

#site-wrapper {
    padding-left: inherit;
}

.search-overlay label img {
    margin-right: inherit;
    margin-left: 1.2rem;
}

.pagination-single .arrow {
    margin-left: 1.5rem;
    margin-right: inherit;
    transform: rotate(180deg);
}

@media (min-width: 1440px) {
    #site-wrapper {
        padding-right: 44.5rem;
    }

    .search-overlay.active {
        left: 0;
        right: 40.5rem;
        ;
    }
}

@media (min-width: 1000px) {
    #site-wrapper {
        padding-right: 33.33%;
    }

    #site-header {
        right: 0;
        left: inherit;
    }

    #site-content {
        padding: 6rem 0 0 6rem;
    }

    .search-overlay.active {
        left: 0;
        right: calc(33.33% - 4rem);
    }
}

@media (min-width: 1200px) {
    #site-wrapper {
        padding-right: 30.9%;
        ;
    }

    .archive-header .subheading {
        margin-bottom: 8.9rem;
    }

    .search-overlay.active {
        left: 0;
        right: calc(30.9% - 4rem);
    }

    .grid-sizer, .preview {
        width: 33%;
    }
}

@media (min-width: 375px) {

    .search-overlay label img {
        margin-right: inherit;
        margin-left: 2rem;
    }

}

@media (min-width: 600px) {
    .search-overlay label img {
        margin-right: inherit;
        margin-left: 2.5rem;
    }

    .pagination-single .arrow {
        margin-left: 2rem;
        margin-right: inherit;
    }

    .pagination-single .next-post .arrow {
        margin: 0 2rem 0 0;
    }
}

.preview-inner {
    padding: 2rem 2rem .5rem 2rem;
}

.preview-title {
    height: 50px;
}